<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bing Trends</title>
</head>
<body>
   
        <div id="root" style="position:relative; top:30px;"></div>
        <script src="~/dist/home.bundle.js">
        </script>
   
</body>
</html>